<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SDAT of Day</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script th:src="@{/js/chartjs.umd.js}" type="module"></script>
<script th:src="@{/js/chartjs-plugin-zoom.min.js}" type="module"></script>
<script th:src="@{/js/SetupHomeScreen.js}" type="module"></script>
<script th:src="@{/js/SDATFileDayChart.js}" type="module"></script>
<body>
<div style="width: 100%;">
    <canvas id="sdat-file-chart"></canvas>
</div>
</body>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    let sdatFiles = /*[[${sdatFiles}]]*/ "[]";
    /*]]>*/
</script>

