<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <a href="/">Back</a>

    <form enctype="multipart/form-data" id="myForm" method="POST">
        <table>
            <tr>
                <td>Choose:</td>
                <td>
                    <label for="mySelect"></label><select id="mySelect" onchange="changeAction()">
                    <option value="/files/upload/sdat">SDAT</option>
                    <option value="/files/upload/esl">ESL</option>
                </select>
                </td>
            </tr>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
<script>
    function changeAction() {
        let form = document.getElementById("myForm");
        let select = document.getElementById("mySelect");
        form.action = select.value;
    }

    changeAction();
</script>
